*{
	margin: 0;
	padding: 0;
}

body{
	background: rgb(249, 249, 249);
	font-family: "open sans" ;
    font-weight: normal;
}

.wrapper{
	display: block;
	background: rgb(255, 255, 255);
	margin: 0 auto;
	width: 1060px;
	box-shadow: 0px 0px 11px 0px #d2d2d2;
	position: relative;
	padding: 50px;
	overflow: hidden;
}

/*HEADER*/

#header img{
	margin-bottom: 40px;
}

.menu_top{
	margin-bottom: none;
	background-image: url("../img/panel.jpg");
	height: 40px;
	background-repeat: repeat;
	list-style-type: none;
	font-size: 18px;
	position: relative;
	overflow: hidden;
	margin-bottom: 50px;
}

.menu_top li{
	display: inline;
	float: left;
	line-height: 40px;
	padding: 0px 20px;
	margin-right: 20px;
	position: relative;
}

.menu_top a{
	color: #fff;
	text-decoration: none;
	display: block;
}

.menu_top li:hover{
	background-image: url("../img/link.jpg");
	height: inherit;
}

/*LEFT_MENU*/

.left_menu{
	float: left;
	position: inherit;
	font-size: 16px;
	width: 240px;
	border: 1px solid rgb(193, 193, 193);
}

.left_menu ul{
	list-style-type: none;
	width: 100%;
}

.left_menu li{
	line-height: 40px;
	padding-left: 25px;
	border-bottom: 1px solid rgb(193, 193, 193);
}

.left_menu li:last-child{
	border-bottom: none;
}

.left_menu a{
	color: rgb(163, 163, 163);
	text-decoration: none;
	display: block;
}

.left_menu li:hover{
	background: rgb(249, 249, 249);
}

.left_menu a:active{
	color: #000;
	margin-left: 15px;
}

/*CONTENT*/

.content{
	color: rgb(44, 44, 44);
	margin-left: 290px;
	margin-bottom: 60px;
}

.content img{
	width: 100%;
	margin-bottom: 40px;
}

/*FOOTER*/

.footer{
	clear: both;
	background: rgb(225, 225, 225);
	text-align: right;
	padding-right: 25px;
	font-size: 14px;
	font-color: rgb(44, 44, 44);
	height: 40px;
}

.menu_foot{
	float: left;
	list-style-type: none;	
	font-size: 16px;
	position: relative;
	overflow: hidden;
}

.menu_foot li{
	display: inline;
	float: left;
	line-height: 40px;
	padding: 0px 20px;
	margin-right: 40px;
	
}

.menu_foot a{
	color: rgb(44, 44, 44);
	text-decoration: none;
	display: block;
}

.menu_foot a:hover{
	text-decoration: underline;
}

.footer p{
	padding: 10px 0;
}